{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="hero-unit"> 
        <h1>Lingo</h1>
        <br>
        <p>Lingo to drobne narzędzie wspomagające proces nauki języka angielskiego.</p>
        <p>Jeśli znajdziesz gdzieś interesujący tekst, który niestety zawiera zbyt wiele
        niezrozumiałych terminów, to właśnie Lingo będzie ci <br> w stanie pomóc. Zamiast
        tłumaczyć całość, co często daje dziwaczne efekty, Lingo spróbuje dostosować
        się do Twojego poziomu znajomości języka i zaproponuje - niezależnie od tego, czy będzie
        to recenzja albumu ulubionego zespołu czy specjalistyczny artykuł z dziedziny
        biologii molekularnej - listę słówek i fraz, których najprawdopodobniej
        jeszcze nie znasz. Kiedy <br>je już opanujesz, przeczytanie tekstu ze zrozumieniem
        powinno okazać się znacznie łatwiejsze i przyjemniejsze - nie będziesz już
        sięgać co chwila do słownika.</p>
    </div>
</div> <!-- /container -->
{% endblock %}
