{% extends 'base.html' %}
{% block content %}
<form id="word_sets_detail_form" action="" method="post">{% csrf_token %}
    <input id="submit_action" name="submit_action" type="hidden">
    <div class="btn-group">
        <button id="mark" class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> 
        <i class="icon-large icon-ok"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li id="mark_all" class="mark"><a href="#">wszystkie</a></li>
            <li id="mark_easy" class="mark"><a href="#">łatwe</a></li>
            <li id="mark_medium" class="mark"><a href="#">średnie</a></li>
            <li id="mark_hard" class="mark"><a href="#">trudne</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> 
        <i class="icon-large icon-download-alt"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li onclick="$('#submit_action').val('download_txt'); $('#word_sets_detail_form').submit()"><a href="#">txt</a></li>
            <li onclick="$('#submit_action').val('download_pdf'); $('#word_sets_detail_form').submit()"><a href="#">pdf</a></li>
            <li onclick="$('#submit_action').val('download_email'); $('#word_sets_detail_form').submit()"><a href="#">e-mail</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#"> 
        <i class="icon-large icon-wrench"></i> <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li onclick="$('#submit_action').val('download_txt'); $('#word_sets_detail_form').submit()"><a href="#">txt</a></li>
            <li onclick="$('#submit_action').val('download_email'); $('#word_sets_detail_form').submit()"><a href="#">e-mail</a></li>
        </ul>
        <button class="btn btn-small" type="button" onclick="$('#submit_action').val('merge'); $('#word_sets_detail_form').submit()"><i class="icon-large icon-resize-small"></i></button>
        <button class="btn btn-small" onclick="$('#submit_action').val('delete'); $('#word_sets_detail_form').submit()"><i class="icon-large icon-trash"></i></button>
    </div>

    <table class="table table-hover">
        <thead>
            <th>Słowo/fraza</th>
            <th>Tłumaczenie</th>
        </thead>
        <tbody>
            {% for word in words %}
            {% if word.difficulty == 0 %}
            <tr class="easy">
            {% elif word.difficulty == 1 %}
            <tr class="medium">
            {% else %}
            <tr class="hard">
            {% endif %}
                <td width="40%">
                    <label class="checkbox">
                        <input class="in" type="checkbox" name="word" value="{{ word.id }}">
                        <a href="#" id="word" class="editable_word" data-type="text" data-pk="{{ word.id }}" data-url="{% url word_sets_detail pk=word_set_pk %}" data-title="Zmień słowo">{{ word.word }}</a>
                        </input>
                    </label>
                </td>
                <td width="60%"><a href="#" id="definition" class="editable_definition" data-type="text" data-pk="{{ word.id }}" data-url="{% url word_sets_detail pk=word_set_pk %}" data-title="Zmień tłumaczenie">{{ word.definition }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</form>
<script src="{{ STATIC_URL }}js/word_sets_detail.js"></script>
{% endblock %}
