{% extends 'base.html' %}

{% block content %}
<p>Aby przetworzyć nowy dokument, wybierz plik do załadowania albo wklej jego
zawartość w pole tekstowe.<hr></p>

<form class="form-horizontal" method="post" action="" enctype="multipart/form-data">{% csrf_token %} 
    {% if form.errors %}
    <div class="alert alert-block alert-error">
        {% for field, error in form.errors.items %}
        {{ error }}
        {% endfor %}
    </div>
    {% endif %}

    <!-- Set title field --!>
    {% if not edit_mode %}
    {% if form.title.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Nazwa zestawu</label>
        <div class="controls">
            {{ form.title }}
            {% if form.title.errors %}
            <span class="help-inline">
                {{ form.title.errors|join:", " }}
            </span>
            {% endif %}
        </div>
    </div>
    {% endif %}

    <!-- File field --!>
    {% if form.file.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Plik</label>
        <div class="controls">
            {{ form.file }}
            {% if form.file.errors %}
            <span class="help-inline">
                {{ form.file.errors|join:", " }}
            </span>
            {% endif %}
        </div>
    </div>

    <!-- Text field --!>
    {% if form.text.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Tekst</label>
        <div class="controls">
            <textarea class="field span6" rows="10" id="id_text" name="text" style:"resize:none"/></textarea>
            {% if form.text.errors %}
            <span class="help-inline">
                {{ form.text.errors|join:", " }}
            </span>
            {% endif %}
        </div>
    </div>
    
    <!-- Send button --!>
    <div class="form-actions">
        <input class="btn btn-inverse" type="submit" value="Wyślij"/>
    </div>
</form>
<script src="{{ STATIC_URL }}js/word_sets_edit.js"></script>
{% endblock %}
