{% extends 'base.html' %}
{% block content %}

{% if word_sets %}

<form id="word_sets_list_form" action="" method="post">{% csrf_token %} 
    <input id="submit_action" name="submit_action" type="hidden">

    <!-- Toolbar -->
    <div class="btn-group">
        <button id="mark_all" class="btn btn-small" title="Zaznacz wszystkie" type="button">
            <i class="icon-large icon-ok"></i>
        </button>
    </div>
    <div class="btn-group">
        <a class="btn btn-small" title="Dodaj nowy zestaw" href="{% url word_sets_edit %}">
            <i class="icon-large icon-plus"></i>
        </a>
        <button id="download" class="btn btn-small dropdown-toggle" data-toggle="dropdown" title="Eksportuj"> 
            <i class="icon-large icon-download-alt"></i>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li id="download_txt"><a href="#">txt</a></li>
            <li id="download_email"><a href="#">e-mail</a></li>
        </ul>
        <button id="delete" class="btn btn-small" title="Usuń">
            <i class="icon-large icon-trash"></i>
        </button>
        <button id="merge" class="btn btn-small" title="Połącz zestawy" type="button">
            <i class="icon-large icon-resize-small"></i>
        </button>
    </div>

    <!-- List of sets -->
    <table class="table table-hover">
        <thead>
            <th>Nazwa</th>
            <th>Słówka</th>
            <th>Data utworzenia</th>
        </thead>
        <tbody>
            {% for word_set in word_sets %}
            <tr id="{{ word_set.id }}">
                <td width="70%">
                    <label class="checkbox">
                    <input class="in" type="checkbox" name="word_set" value="{{ word_set.id }}">
                        <a href="{% url word_sets_detail word_set.id %}">{{ word_set.title }}</a>
                    </input>
                    </label>
                </td>
                <td width="10%">{{ word_set.words_number }}</td>
                <td width="20%">{{ word_set.pub_date|date:"Y-m-d, H:i" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</form>
<script src="{{ STATIC_URL }}js/word_sets_list.js"></script>

{% else %}

<p>Nie utworzyłeś jeszcze żadnych zestawów słówek. Jeśli chcesz, 
<a href="{% url word_sets_edit %}">stwórz</a> teraz nowy.</p> 

{% endif %}
{% endblock %}
