Django==1.4
Jinja2==2.6
MarkupSafe==0.15
PIL==1.1.7
PyAMF==0.6.1
WebOb==1.2.3
antlr-python-runtime==3.1.1
argparse==1.2.1
pep8==1.4.5
preppy==1.0.1
python-memcached==1.53
webapp2==2.5.2
wsgiref==0.1.2
