{% extends 'base.html' %}

{% block content %}
<div class="hero-unit">
    <h2>Konto aktywowane.</h2>
    {% if account %}
    <p>Dziękujemy za rejestrację. Możesz się teraz zalogować <a href="/accounts/login/">tutaj</a>.</p>
    {% else %}
    <p>Przykro nam, ale coś poszło nie tak. Być może twój link aktywacyjny jest
    niepoprawny albo klucz wygasł. Pamiętaj, że klucze aktywacyjne są ważne tylko przez 
    {{ expiration_days|apnumber }} dni po rejestracji. </p>
    {% endif %}
</div>
{% endblock %}
