{% extends 'base.html' %}


{% block content %}
<div class="container">
    <div class="hero-unit"> 
        <form class="form-signin" action="" method="post">
            {% csrf_token %} 
            <h2 class="form-signin-heading">Podaj swoje dane:</h2>
            <input type="text" class="input-large" placeholder="Nazwa użytkownika" name="username" value="" id="username" ><br>
            <input type="password" class="input-block-large" placeholder="Hasło" name="password" value="" id="password">
            <label class="checkbox">
                <input type="checkbox" value="remember-me">Zapamiętaj mnie
            </label>
            <button class="btn btn-medium btn-primary" type="submit" value="login">Zaloguj się</button>
        </form>
    </div>
</div>
{% endblock %}
