{% extends 'base.html' %}

{% block content %}
<br>
<p>Aby odzyskać dostęp do konta, podaj swój adres E-mail użyty przy rejestracji. 
Dostaniesz wiadomość z dalszymi instrukcjami.</p>

<form class="form-horizontal" method="post" action="">{% csrf_token %}
    <hr>
    {% if form.errors %}
    <div class="control-group error">Nieprawidłowe dane.</div>
    {% endif %}

    {% if form.email.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Adres E-mail</label>
        <div class="controls">
        {{ form.email }}
        {% if form.email.errors %}<span class="help-inline">{{ form.email.errors|join:", " }}</span>{% endif %}
        </div>
    </div>

    <div class="form-actions">
        <input class="btn btn-inverse" type="submit" value="Resetuj hasło" />
    </div>

</form>
{% endblock %}
