{% extends 'base.html' %}

{% block content %}
{% if validlink %}

<form class="form-horizontal" method="post" action="">{% csrf_token %}
    <legend>Podaj nowe hasło</legend>

    {% if form.errors %}
    <div class="control-group error">Nieprawidłowe dane.</div>
    {% endif %}

    {% if form.new_password1.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Hasło</label>
        <div class="controls">
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}<span class="help-inline">{{ form.new_password1.errors|join:", " }}</span>{% endif %}
        </div>
    </div>

    {% if form.new_password2.errors %}
    <div class="control-group error">
    {% else %}
    <div class="control-group">
    {% endif %}
        <label class="control-label" for="input">Potwierdź hasło</label>
        <div class="controls">
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}<span class="help-inline">{{ form.new_password2.errors|join:", " }}</span>{% endif %}
        </div>
    </div>

    <div class="form-actions">
        <input class="btn btn-inverse" type="submit" value="Zmień hasło"/>
    </div>
</form>

{% else %}
<h4>Odzyskiwanie hasła nie powiodło się.</h4>

<p>Odzyskiwanie nie powiodło się, ponieważ adres z wiadomości E-mail został już raz użyty.
<a href="{% url auth_password_reset %}">Spróbuj jeszcze raz</a>.</p>
{% endif %}
{% endblock %}
