{% autoescape off %}
Otrzymujesz tę wiadomość, ponieważ zażądałeś (albo ktoś inny zrobił to za ciebie)
zresetowania hasła dla swojego konta na {{ site_name }}.

Jeśli rzeczywiście chcesz zresetować hasło, przejdź do podanej niżej strony
i zmień swoje hasło.
{% block reset_link %}
{{ protocol }}://www.{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb64=uid, token=token %}
{% endblock %}
Na wszelki wypadek przypominamy ci, że twoja nazwa użytkownika to {{ user.username }}.
{% endautoescape %}
